<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lisää kirja</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

</head>

<body>
    <h2>Lisää uusi kirja</h2>

    <form th:action="@{/saveBook}" th:object="${book}" method="post">

        <label>Nimi:</label>
        <input type="text" th:field="*{title}" /><br />

        <label>Kirjailija:</label>
        <input type="text" th:field="*{author}" /><br />

        <label>Julkaisuvuosi:</label>
        <input type="number" th:field="*{publicationYear}" /><br />

        <label>ISBN:</label>
        <input type="text" th:field="*{isbn}" /><br />

        <label>Hinta:</label>
        <input type="text" th:field="*{price}" /><br />
        <br />
        <button class="btn btn-success" type="submit">Tallenna</button>
    </form>

</body>

</html>