<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Kirjat</title>
</head>

<body>
    <h1>Kirjat</h1>
    <table>
        <tr>
            <th>Nimi</th>
            <th>Kirjailija</th>
            <th>Julkaisuvuosi</th>
        </tr>
        <tr th:each="kirja : ${books}">
            <td th:text="${kirja.title}"></td>
            <td th:text="${kirja.author}"></td>
            <td th:text="${kirja.publicationYear}"></td>

            <td> <a th:href="@{/deleteBook/{id}(id=${kirja.id})}">Poista kirja</a> <a
                    th:href="@{/editBook/{id}(id=${kirja.id})}">Muokkaa</a></td>
        </tr>
    </table>
    <a th:href="@{/addBook}">Lisää kirja</a>
</body>